.blinking{
  animation:blinkingText 1s infinite;
}


.large-text {
  font-size: 210px !important;
}

@keyframes blinkingText{
  0%{     color:red;    }
  49%{    color: transparent; }
  50%{    color: transparent; }
  99%{    color:transparent;  }
  100%{   color: red;    }
}

body {
  font-family: 'Lucida Grande',Lucida,Verdana,sans-serif;
  font-style: normal;
  color: #000;
  margin: 0 auto;
  background: white url(https://images.lingscars.com/images/index/bg/paisley.jpg);
}

.container {
  background: white;
  top: 0;
  bottom: 0;
  margin-top: 0%;
  padding-top: 5%;
  padding-bottom: 50%;
}

.headline {
  font-family: 'Bangers', cursive;
  font-size: 36px;
  text-shadow: 0 0 2px black, 2px 2px 0px black;
  transform: rotate(-7.5deg);
  font-weight: normal;
}

th {
  padding: 10px;
}

td {
  padding: 10px;
} 
